html{margin: 0;
min-height: 100%;}

#background{
    position: fixed;


}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

/* Header*/
span{
    color:#f1919b ;
}
.header, .header2{
    background-color: #1f2937;
}
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    display: flex;

}
.logo-pic{
    display: flex;
    width: 75x;
    height: 75px;


    
}
.logo-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #f9faf8;

}
.header-links{
display: flex;
list-style-type: none;
gap: 16px;

}
a{  
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;

}

/*Header2*/
.header2-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:36px 120px;
    margin: 37px 0;


}
.headerconetent{
    width: 280px;
}
.header2-image img{
    width: auto;
    height: 300px;
}
.welcome{
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
}
.motal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    color: #e5e7eb;
}
button{
    display: flex;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    background:#3882f6;
    padding: 8px 16px;
    margin-top: 10px;
    font-size: 18px;
}

/*Boyd*/
.intro{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    padding: 36px ;
}

.intro-container{
    display: flex;
    margin: 0 240px;
    justify-content: space-around;
    
}

.box{
    display: flex;
    text-align: center;    
    width: 150px;
    font-size: 18px;
    margin-bottom: 50px;
    }

.square{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 24px;
    margin-bottom: 12px;
    align-items: center;
    font-size: xx-large;


}

/*quote*/
.body2{
    background-color: #e5e7eb;

}
.body2-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.quote{
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    padding:0 260px;
    padding-top: 90px;
}

.name{
display: flex;
justify-content: flex-end;
padding-right: 320px;
font-weight: bold;
padding-bottom: 90px;
padding-top: 5px;
}


/*footer*/


.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-container{
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    width: 1000px;
    background-color:#3882f6;
    margin: 70px;
    border-radius: 6px;
    font-size: 18px;
    padding: 16px;

}



.instagram{
    color: #e5e7eb;

}

.text1{font-weight: bold;}

button.contact{
    border: 2px solid #f9faf8;

}


/*copyright*/

.copyright{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #1f2937;
    background-color: #1f2937;
    padding: 1.5em;
}





